/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #BA3B46 !default; 
$red-color-dark: #b71c1c !default; //change
$orange-color: #f29105 !default; // change
$blue-color: #78BEE6 !default;
$blue-color-dark: #00369f !default; // change
$cyan-color: #2698ba !default; // change
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%); // ?
$green-color: #00ab37 !default; //change
$green-color-lime: #b7d12a !default; //change
$green-color-dark: #009f06 !default; // change
$green-color-light: #ddffdd !default; // change
$green-color-bright: #11d68b !default; // change
$purple-color: #b509ac !default; //change
$light-purple-color: color.adjust($purple-color, $lightness: 25%); // change
$pink-color: #f92080 !default; // change
$pink-color-light: #ffdddd !default; // change
$yellow-color: #EFBF44 !default;

$grey-color: #272D2D !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #1c1c1d; // change ?
$grey-900: #212529; // change ?

$white-color: #F6EDDB !default;
$black-color: #272D2D !default; // same as grey color not sure if problematic

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
